.general {
    min-height: 20px;
    padding: 10px;
}

.section {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 150px;
    margin-right: 150px;
    background-color: rgb(203, 223, 240);
}

.title {
    margin-bottom: 20px !important;
}

.main-btn {
    width: 100px !important;
}

.my-form {
    padding-top: 100px;
    padding-bottom: 100px;
}

.rows {
    margin-bottom: 20px;
}